body{
    background-image: url('http://wallpapercave.com/wp/mjfMHfm.jpg');
    
}

h1{
    text-align: center;
    margin-top: 10%;
    font-size: 75px;
    font-family: 'MedievalSharp', cursive;
    color: #a4161a;
}

.cage{
    background-color: #d7be82;
    color: whitesmoke;
    margin-right: 40%;
    margin-left: 40%;
    font-family: 'MedievalSharp', cursive;
    font-size: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: dashed;
    border-color: black;
    border-width: 4px;
}

li:hover{
    background-color: #ffb600;
}

form{
    margin-top: 5%;
    display: flex;
    text-align: center;
    margin-right: 30%;
    margin-left: 30%;
    flex-wrap: wrap;
    justify-content: center;
}
